<main class="recipes-page">
  <div class="recipes-container">

    <app-recipe-search-bar 
      [searchQuery]="searchQuery()"
      (queryChange)="searchQuery.set($event)"
      (openFilters)="isFilterSheetOpen.set(true)" />

    <app-recipe-tags-bar 
      [tags]="tags"
      [selectedTag]="selectedTag()"
      (selectTag)="selectedTag.set($event)" />

    <app-recipe-favorites-carousel 
      [favorites]="favoriteRecipes()"
      (addCustom)="onOpenAddRecipe()"
       (seeAll)="isFavoritesSheetOpen.set(true)"
      (recipeClick)="openRecipeDetail($event)"
      (toggleFav)="toggleFavorite($event)" />

    <section class="recipes-main-section">
      <div class="flex items-center gap-2 mt-4 mb-2">
        <lucide-icon name="sparkles" class="w-5 h-5 text-[#8429C8] shrink-0"></lucide-icon>
        <h2 class="favorites-title">Zrób z tego, co masz</h2>
      </div>

      @if (isLoading()) {
        <div class="status-box animate-pulse">
          Analizuję Twoją spiżarnię i dopasowuję przepisy...
        </div>
      } @else if (errorMessage()) {
        <div class="error-box">{{ errorMessage() }}</div>
      } @else {
        <div class="recipes-list">
          @for (recipe of filteredRecipes(); track recipe.recipeId) {
            <app-recipe-card 
              [recipe]="recipe"
              [isFavorite]="recipe.isFavorite"
              (cardClick)="openRecipeDetail(recipe.recipeId, recipe)"
              (toggleFav)="toggleFavorite(recipe.recipeId)" 
              (addMissing)="addMissingToShoppingList(recipe)" />
          } @empty {
            <div class="empty-state">
              Brak przepisów spełniających wybrane kryteria wyszukiwania.
            </div>
          }
        </div>
      }
    </section>

  </div>

  @if (activeRecipeDetail(); as detail) {
    <app-recipe-detail-sheet 
      [recipe]="detail" 
      [isFavorite]="detail.isFavorite"
      (toggleFavorite)="toggleFavorite(detail.id)"
      (closeSheet)="activeRecipeDetail.set(null)" />
  }

  @if (isFilterSheetOpen()) {
    <app-recipe-filter-sheet
      [filters]="activeFilters()"
      [filteredCount]="filteredRecipes().length"
      (closeSheet)="isFilterSheetOpen.set(false)"
      (apply)="activeFilters.set($event)"
      (reset)="activeFilters.set({ availability: 'all', maxTime: null, sortBy: 'match', mealType: null, diet: null })" />
  }

  @if (isAddRecipeOpen()) {
  <app-add-recipe-sheet 
    (closeSheet)="onCloseAddRecipe()"
    (save)="onSaveCustomRecipe($event)" />
  }

   @if (isFavoritesSheetOpen()) {
    <app-recipe-favorites-sheet
      [favorites]="favoriteRecipes()"
      (closeSheet)="isFavoritesSheetOpen.set(false)"
      (recipeClick)="openRecipeDetail($event.recipeId, $event)"
      (toggleFav)="toggleFavorite($event)"
      (addMissing)="addMissingToShoppingList($event)"
      (addCustom)="onOpenAddRecipeFromFavorites()" />
  }
</main>